
div#header {
    margin-top: 10px;
    margin-bottom: 20px;
}

div#header #navigation {
    text-align: center;

}

div#header #navigation a {
    margin-right: 1%;
    margin-left: 1%;
    line-height: 3em;
    padding: 5px;
    border: 3px double black;
    background-color: Thistle;
    color: Teal;
    font-weight: bold;
}

div#header #navigation a:hover {
    color: Thistle;
    background-color: Teal;
}

blockquote a:hover {
    background-color: Thistle;
    color: Teal;
}

blockquote a {
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 3px;
    color: Teal;
    background-color: rgba(255,255,255,0.3);
}

body {
    background-color: DarkOrchid; /* VioletRed */
}

p {
    color: Bisque; /* MistyRose; -> LightYellow; -> LightGoldenRodYellow; LightCyan; LemonChiffon; Ivory; -> HoneyDew; GreenYellow; Gold; -> GhostWhite; Gainsboro; FloralWhite; DarkTurquoise; /* Aquamarine;  -> Cornsilk;*/
}

a {
    color: lightgrey;
}

h1 {
    background-color: MediumTurquoise;
    padding-left: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
}

h2.log-title {
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.log-date {
    margin: 0;
    font-size: small;
    font-style: italic;
    color: grey;
}

.log-author {
    margin: 0;
    font-size: small;
    font-style: italic;
    font-weight: bold;
    color: grey;
}


div.log {
    margin-left: 30px;
    margin-bottom: 15px;
    background-color: Thistle;
    padding: 1%;
}

div.log-body {
    margin-left: 10px;
}

div.log-body p {
    color: black;
}

div.article {
    margin-left: auto;
    margin-right: auto;
    background-color: Thistle;
    padding: 1em;
    max-width: 750px;
}

div.article p {
    color: black;
    text-indent: 2em;
}

div.article img {
    max-width: 500px;
    max-height: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

div.article figcaption {
    text-align: center;
    font-size: small;
    font-style: italic;
}

.date {
    margin-top: 0;
    text-align: right;
    font-size: small;
    font-style: italic;
}

.author {
    margin-bottom: 0;
    text-align: right;
    font-size: small;
    font-style: italic;
    font-weight: bold;
}


.lychee {
    padding: 1px;
    /* background-color: rgba(0,0,0,0.1); */
    /* border-top: 2px solid MediumVioletRed; */
    /* border-bottom: 2px solid MediumVioletRed; */
    background-color: MediumVioletRed;
    color: Bisque;
}

.lychee:hover {
    color: MediumVioletRed;
    background-color: Bisque;
    padding: 1px;
    /* border-top: 2px solid FloralWhite; */
    /* border-bottom: 2px solid FloralWhite; */
    /* background-color: rgba(0,0,0,0.2); */
}

blockquote {
    margin-left: 20px;
    background-color: rgba(255,255,255,0.3);
    margin-top: 0;
    margin-bottom: 0;
    padding: 10px;
    line-height: 22px;
}

blockquote p {
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: 2em;
    color: black;
}

blockquote li, blockquote ul {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 15px;
}

.avery-speech {
    color: Bisque;
}


div.heart {
    text-align: center;
    height: 9px;
    border-bottom: 3px double Black;
    margin-top: 1em;
    margin-bottom: 2em;
}

div.heart:after {
    content: '\002665';
    display: inline-block;
    position: relative;
    padding: 0 7px;
    background: DarkOrchid;
    color: Black;
    font-size: 18px;
}

.license {
    text-align: right;
    margin-left: 20%;
    font-size: small;
}
